<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pronostico del tiempo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chota/0.7.1/chota.min.css">
</head>
<body>
    <div class="container">
        <h1>Update Your City</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="city">City:</label>
            <input type="text" id="city" name="city" value="{{ city }}" required>
            <button type="submit">Seleccione locaclizacion</button>
        </form>
    </div>
</body>
</html>